body {
    background-color: #f8f8f8;
}

.login-panel {
    margin-top: 40%;
    margin-bottom: 44%;
}

#cabecalho .navbar-default {
    background-color: #F1F1F1;
    border-color: #908D8E;
}

#rodape .navbar-default .navbar-text {
    color: #777;
    margin-left: 400px;
}