body {
    background-color: #f8f8f8;
}

.navbar-default {
    background-color: #F1F1F1;  
}

.navbar-static-top{
    box-shadow: inset -5px 0px 30px 0px #99a3ad, 0px 0px 40px #eeeeee;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

@media(min-width:768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

#rodape .navbar-default .navbar-text {
    color: #777;
    margin-left: 400px;
}

.jumbotron {
    background-color: white;
    margin-top: 20px;
    height: 500px;
    box-shadow: 0px 2px 30px 0px #99a3ad, 0px 0px 40px #eeeeee;
}

.dropdown-menu  li  a{
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: rgba(51, 122, 183, 0.6);
}


