.dropdown-menu  li  a{
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: rgba(51, 122, 183, 0.6);
}
#dropdown-usuario{
    margin-right: 20px;
}

