<div class="container" style="margin-top:30px">
    <div class="col-md-10 col-md-offset-0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Bairros</strong>
                </h3>               
            </div>

             <div class="panel-body">
                 <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" > Inserir </button>
             <div>
        
            <div class="panel-heading">
                <table border="1" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Nome</th>
                      <th>Cidade</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="modelo in cb.ListaBairro">
                      <td>{{modelo.id}}</td>
                      <td>{{modelo.nome}}</td>
                      <td>{{modelo.cidade.nome}}</td>
                    </tr>
                    <tr>
                      <td>{{modelo.id}}</td>
                      <td>{{modelo.nome}}</td>
                      <td>{{modelo.cidade.nome}}</td>
                    </tr>
                    <tr>
                      <td>{{modelo.id}}</td>
                      <td>{{modelo.nome}}</td>
                      <td>{{modelo.cidade.nome}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cadastrar novo bairro</h4>
                  </div>
                  <div class="modal-body">

                    <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Nome" tabindex="1" ng-model="bairro.nome">
                    </div> 

                    <div class="form-group">
                        <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade" tabindex="1" ng-model="bairro.cidade.id">
                    </div> 
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cb.save()" >Gravar</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
</div>