
<div class="row">
    <h2> Bairros</h2>      
</div> 
<hr>
<div class="row">
    <div class="col-md-6" >
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#inserir" > Inserir </button>  
    </div>
    <div class="col-md-6" class="pull-right">
        <div class="input-group custom-search-form ">
            <input type="text" class="form-control" ng-model="criterioDeBusca">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:20px;margin-bottom:10px;"> 

        <table id="mytable" class="table table-bordered table-striped table-condensed">
            <thead>
            <th><a href="" ng-click="cb.ordenarPor('nome')">Nome <i class="fa fa-sort pull-right"></i></a></th>
            <th><a href="" ng-click="cb.ordenarPor('cidade')">Cidade <i class="fa fa-sort pull-right"></i></a></th>
            <th style="width: 10px;"></th>                                                              
            </thead>
            <tbody>
                <tr ng-repeat="bairro in cb.bairros| filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao |  limitTo:cb.entryLimit">
                    <td>{{bairro.nome}}</td>    
                    <td>{{bairro.cidade.nome}}</td>
                    <td>         
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Editar <span class="caret"></span>  
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-toggle="modal" data-target="#edit" data-title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a></li>
                                <li><a href="#" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>            
        </table>

        <div class="row">   
            <div class="col-md-6" class="pull-left">
                Mostrar
                <select ng-model="paginas" ng-change="cb.setItemsPagina(paginas)">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                    <option>Todas</option>
                </select> linhas                
            </div>
            <div class="pull-right">
                <div>Mostrando 1 de um total de XX registros</div>
            </div>
        </div>        
    </div>
</div>


<div class="modal fade" id="inserir">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Cadastrar novo bairro</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Nome" tabindex="1" ng-model="bairro.nome">
            </div> 

            <div class="form-group">
                <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Cidade" tabindex="1" ng-model="bairro.cidade.id">
            </div> 
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cb.save()" >Gravar</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
