<form class="form-horizontal">
    <fieldset>
        <legend>Entidade</legend>

        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">CNPJ</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="CNPJ">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Inscrição Estadual</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Inscrição Estadual">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Razão Social</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Razão Social">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Nome Fantasia</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Nome Fantasia">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Representante Legal</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Representante Legal">
            </div>
        </div>
        <hr>        

        <div class="form-group">
            <label id="lbTelefone1" class="col-xs-6 col-sm-3 control-label">Telefone 1</label>            
            <div class="col-md-3">
                <input id="inputTelefone1" type="text" class="form-control" placeholder="Telefone 1">
            </div>
            <div class="col-xs-5 col-sm-2" style="text-align:right;">
                <label id="lbTelefone2" class="control-label">Telefone 2</label>                
            </div>            
            <div class="col-md-3">
                <input id="inputTelefone2" type="email" class="form-control" placeholder="Telefone 2">
            </div>
        </div>
        <div class="form-group">
            <label id="lbTelefone3" class="col-xs-6 col-sm-3 control-label">Telefone 3</label>            
            <div class="col-md-3">
                <input id="inputTelefone3" type="text" class="form-control" placeholder="Telefone 3">
            </div>
            <div class="col-xs-5 col-sm-2" style="text-align:right;">
                <label id="lbTelefone4" class="control-label">Telefone 4</label>                
            </div>            
            <div class="col-md-3">
                <input id="inputTelefone4" type="email" class="form-control" placeholder="Telefone 4">
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Fax</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Fax">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Email</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Site</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Site">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">CEP</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="email" class="form-control" placeholder="CEP">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Estado</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <select id="selectSexo" name="selectSexo" class="form-control">
                    <option value="" disabled selected>- Selecione o estado -</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="BA">Bahia</option>
                    <option value="SP">São Paulo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Cidade</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <select id="selectSexo" name="selectSexo" class="form-control">
                    <option value="" disabled selected>- Selecione a cidade -</option>
                    <option value="Criciuma">Criciuma</option>
                    <option value="Salvador">Salvador</option>
                    <option value="São Paulo">São Paulo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Bairro</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="email" class="form-control" placeholder="Bairro">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Logradouros</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="email" class="form-control" placeholder="Logradouros">
            </div>
        </div>
    </fieldset>
</form>
