<form class="form-horizontal">
    <fieldset>
        <legend>Logradouros</legend>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Nome</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Estado</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <select id="selectSexo" name="selectSexo" class="form-control">
                    <option value="" disabled selected>- Selecione o estado -</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="BA">Bahia</option>
                    <option value="SP">São Paulo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-6 col-sm-3 control-label">Cidade</label>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <select id="selectSexo" name="selectSexo" class="form-control">
                    <option value="" disabled selected>- Selecione a cidade -</option>
                    <option value="Criciuma">Criciuma</option>
                    <option value="Salvador">Salvador</option>
                    <option value="São Paulo">São Paulo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="CtrlLogradouros.message()">Salvar</button>
        </div>
    </fieldset>
</form>
