<div>
    <link rel="stylesheet" href="styles/main.css">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <a class="navbar-brand fa fa-shield fa-lg fa-2x">WebCobranças</a>

            <ul class="nav navbar-nav navbar-left">        
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Configurações <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="#">sem nada</a></li>
                        <li><a ui-sref="#">sem nada</a></li>
                        <li><a ui-sref="#">sem nada</a></li>            
                        <li><a ui-sref="#">sem nada</a></li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Cadastros <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="main.entidade">Entidades</a></li>
                        <li><a ui-sref="main.usuario">Usuários</a></li>
                        <li><a ui-sref="main.bairros">Bairros</a></li> 
                        <li><a ui-sref="main.logradouros">Logradouros</a></li> 
                        <li><a ui-sref="main.credores">Credores</a></li>                                            
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"><span
                    class="glyphicon glyphicon-envelope"></span> Mensagens <span class="label label-info">32</span>
                </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="#"><span class="label label-warning">4:00 AM</span> Eventos favoritos</a></li>
                        <li><a ui-sref="#"><span class="label label-warning">4:30 AM</span> Email de Compras</a></li>
                        <li><a ui-sref="#"><span class="label label-warning">5:00 AM</span> Assinatura do contrato</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="#" class="text-center">Visualizar todas</a></li>
                    </ul>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" ><span
                    class="glyphicon glyphicon-comment"></span> Chat <span class="label label-primary">42</span>
                </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="#"><span class="label label-default">7:00 AM</span> Oi :)</a></li>
                        <li><a ui-sref="#"><span class="label label-default">8:00 AM</span> Como você está?</a></li>
                        <li><a ui-sref="#"><span class="label label-default">9:00 AM</span> O que você está fazendo?</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="#" class="text-center">Visualizar todas</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"><span
                    class="fa fa-bell fa-fw"></span> Notificações <span class="label label-success">5</span>
                </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li><a ui-sref="#">Agenda vazia</a></li>
                        <li><a ui-sref="#">...</a></li>                        
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->

                <li id="dropdown-usuario" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"><span
                    class="fa fa-user fa-fw"></span> Usuário 
                </a>
                    <ul class="dropdown-menu dropdown-user">
                       <li><a ui-sref="#"><i class="fa fa-user fa-fw"></i> Perfil do Usuário</a>
                       </li>
                       <li><a ui-sref="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                       </li>
                       <li class="divider"></li>
                       <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                       </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->            
        </nav>

        <div class="container">
            <div class="jumbotron">
                <div ui-view> </div>                
            </div>
        </div>

        <rodape></rodape>

