<div>
    <link rel="stylesheet" href="styles/main.css">

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <a class="navbar-brand fa fa-shield fa-lg fa-2x">WebCobranças</a>

            <ul class="nav navbar-nav navbar-left">        
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Configurações <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="#">sem nada</a></li>
                        <li><a ui-sref="#">sem nada</a></li>
                        <li><a ui-sref="#">sem nada</a></li>            
                        <li><a ui-sref="#">sem nada</a></li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Cadastros <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="main.entidade">Entidades</a></li>
                        <li><a ui-sref="main.usuario">Usuários</a></li>
                        <li><a ui-sref="main.bairros">Bairros</a></li>                                            
                        <li><a ui-sref="main.credores">Credores</a></li>                                            
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">                        
                        <li><a ui-sref="#"></a></li>
                        <li><a ui-sref="#"></a></li>
                        <li><a ui-sref="#"></a></li>                                            
                        <li><a ui-sref="#"></a></li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li><a ui-sref="#"></a></li>
                        <li><a ui-sref="#"></a></li>
                        <li><a ui-sref="#"></a></li>                                            
                        <li><a ui-sref="#"></a></li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a ui-sref="#"><i class="fa fa-user fa-fw"></i> Perfil do Usuário</a>
                        </li>
                        <li><a ui-sref="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->            
        </nav>

        <div class="container">
            <div class="jumbotron">
                <div ui-view> </div>
            </div>
        </div>

        <div id="rodape">
            <div class="navbar navbar-default navbar-fixed-bottom">

                <div class="container">
                    <p class="navbar-text pull-left">© 2015 - Todos os direitos reservados.
                        <a href="https://github.com/HamamedTurkey/HamamedSoapHelloWord" target="_blank" >WebCobranças</a>
                        <!-- <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-1x social"></i></a> -->
                    </p>
                </div>
            </div>
        </div>    
    </div>
